@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$main-font: 'Raleway', sans-serif;
$border: #888;
$dusty-rose: #c28285;

* {
  font-family: $main-font;
  box-sizing: border-box;
}

.nav-bar li {
  margin-left: 20px;
}

nav.nav-bar {
  // position: fixed;
  width: 100%;
}

body {
  background-color: rgba(192, 176, 176, 0.6);
  background: url('plant6.jpg') no-repeat;
  background-size: cover;
}

.recipe-search-box {
  width: 200px;
  height: 30px;
  margin-left: 20px;
}

h1,
h2,
h3 {
  color: rgb(7, 7, 7);
}

.ui-card p {
  float: left;
}

div.recipe-container {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  margin-top: 1%;

  .recipe {
    padding: 1.5em;
    margin: 0.8em;
  }
}

.recipe {
  display: flex;
  flex-direction: row;
  // width: 300px;
  // height: 350px;
  // overflow: auto;
  // float: left;
  // margin-top: 1%;
  background-color: rgba(160, 126, 126, 0.5);
  border-radius: 4px;
  // border: 1px solid #1d3323;
  box-shadow: 2px 1px 3px rgba(226, 211, 200, 0.8);

  &:hover {
    background-color: rgba(160, 126, 126, 0.7);
    box-shadow: 3px 3px 3px rgba(82, 64, 64, 0.9);    
    transition: box-shadow 0.3s ease-in-out;
  }
}

img {
  width: 250px;
  height: 250px;
}

.botanica-landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;

  & h3, h1 {
    text-align: center;
  }
}

.login-link {
  text-decoration: none;
  color: #999;
}

.register-link {
  text-decoration: none;
  color: #999;
}

form.login-form input {
  // display: flex;
  width: 20%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
}

form.register-form input {
  // display: flex;
  width: 20%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
}

.new-recipe-form input {
    // display: flex;
    width: 20%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    // align-items: center;
    // justify-content: center;
    // flex-direction: column;
}


form.login-form {
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // max-width: 500px;
}

form.register-form {
  // border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // max-width: 500px;
}

.new-recipe-form {
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // max-width: 500px;
}

.recipe-spec {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  // width: 600px;
  // height: 800px;
  overflow: auto;
  // float: left;
  margin-top: 1%;
  // background-color: rgba(160, 126, 126, 0.5);
  // border-radius: 4px;
}

div.spec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // width: 500px;
  // height: 800px;
  padding: 8px 48px;
  overflow: auto;
  float: left;
  margin-top: 1%;
  background-color: rgba(160, 126, 126, 0.5);
  border-radius: 4px;
}

.image-spec {
  width: 450px;
  height: 450px;
}

div.spec p {
  width: 500px;
}

form.search-bar {
  margin-top: 20px;
  margin-right: 20px;
}
